#!/bin/bash

# Define the home network IP prefix
HOME_NETWORK_PREFIX="{{ home_ip_prefix }}"

# Log file
LOG_FILE="{{ pika_log_file }}"

# Get the current IP address of the system
CURRENT_IP=$(hostname -I | awk '{print $1}')

# Log the current IP address
echo "$(date): Current IP address is $CURRENT_IP" >> $LOG_FILE

# Check if the current IP matches the home network prefix
if [[ $CURRENT_IP == $HOME_NETWORK_PREFIX* ]]; then
  echo "$(date): Connected to home network. Proceeding with pre-backup tasks..." >> $LOG_FILE

#  # Example: Stop a service
#  sudo systemctl stop myservice

  # Example: Create a snapshot
#  sudo btrfs subvolume snapshot /home /home/snapshot

  echo "Pre-backup tasks completed."
else
  echo "$(date): Not connected to home network. Skipping pre-backup tasks." >> $LOG_FILE
  exit 1
fi
