[Unit]
Description=Check Network and Stop Pika Backup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check_network_and_stop_backup.sh

[Install]
WantedBy=multi-user.target
